<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>$author$: $title$</title>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
  </head>
  <body>
    <h1>$author$</h1>
    <div class="social">
      <ul>
        <li><a href="mailto:$email$">Email: $email$</a></li>
        <li>Phone: $phone$</li>
        <li><a href="https://github.com/$github$">GitHub</a></li>
        <li><a href="https://linkedin.com/in/$linkedin$">LinkedIn</a></li>
      </ul>
    </div>
    <hr />
    $body$
  </body>
  <footer>   
    <p>
      <a href="https://github.com/thrly/cv-md/tree/master/outputs"
        >Download pdf, docx, and other formats here</a >
    </p>
    <p>Last updated $updated$.</p>
  </footer>
</html>