body {
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif, sans-serif;
  margin: auto;
  max-width: 800px;
  color: #222;
}
h1,
h2 {
  color: #005fa3;
  margin-bottom: 0.5rem;
}
h1 {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1em;
  margin: 0.5rem 0rem 0rem 1rem;
}

p {
  margin: 0.5rem 0rem 0rem 2rem;
}

p a {
  color: #222;
}

ul {
  margin-left: 0.5rem;
}

.social ul {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.social li {
  /* display: inline-flex; */
  font-size: 0.85em;
  list-style: none;
  flex-basis: auto;
  /* text-align: center; */
}
.social a {
  text-decoration: none;
  color: #222;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

footer {
  font-size: 0.8em;
  color: #005fa3;
  text-align: center;
  margin-top: 4rem;
}
footer a {
  text-decoration: none;
  color: #222;
}
